<div class="container shadow p-4">
    <div>
        <h4 class="border-bottom mb-4" *ngIf="!_modalService.modalEstaAberta">Cadastro de Cidade</h4>
        <form [formGroup]="cidadeForm">
            <div class="row mb-3">
                <div class="col-md-1">
                    <label for="id" class="form-label">Código</label>
                    <input type="text" id="id" formControlName="id" readonly class="form-control">
                </div>
                <div class="col-md-7">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" id="cidade" formControlName="cidade" [ngClass]="aplicarCssCamposInvalidos('cidade')" class="form-control">
                    <app-campo-control-invalid [mostrarErro]="verificarCampoInvalid('cidade')" msgErro="Cidade obrigatório!"></app-campo-control-invalid>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="estado" class="form-label">Estados</label>
                    <select name="estado" formControlName="estado" class="form-select" [ngClass]="aplicarCssCamposInvalidos('estado')" id="estado">
                        <option value="selecionar" selected disabled>Selecionar</option>
                        <option value="MG">MG</option>
                        <option value="SP">SP</option>
                        <option value="RJ">RJ</option>
                    </select>
                    <app-campo-control-invalid [mostrarErro]="verificarCampoInvalid('estado')" msgErro="Estado obrigatório!"></app-campo-control-invalid>

                </div>
                <div class="col-md-3">
                    <label for="ibge" class="form-label text-nowrap">Código IBGE</label>
                    <input type="text" formControlName="ibge" id="ibge" [ngClass]="aplicarCssCamposInvalidos('ibge')" class="form-control">
                    <app-campo-control-invalid [mostrarErro]="verificarCampoInvalid('ibge')" msgErro="IBGE obrigatório!"></app-campo-control-invalid>
                </div>
            </div>
            <div class="mt-4">
                <button class="btn btn-primary" *ngIf="operacao === 'adicionar' || operacao === 'editar'" (click)="salvar()">Salvar</button>
                <button class="btn btn-danger" *ngIf="operacao==='remover'" (click)="abrirModalDeConfirmacao()">Remover</button>
                <button class="btn btn-secondary m-2" *ngIf="operacao === 'detalhes'" (click)="redirecionar()">Voltar</button>
                <button class="btn btn-secondary m-2" *ngIf="operacao !== 'detalhes'" (click)="redirecionar()">Cancelar</button>
            </div>
        </form>
    </div>